a:hover {
    background-color: #e7dad1;
}

li>a {
    color: black;
    text-decoration: none;
}

div>li {
    list-style: none;
}

nav>li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

a:visited {
    color: #8e3205;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    height: 100%;
}

body, header, main, footer,.pie-pagina {
    margin: 0.5rem;
    min-height: 50px;
    min-width: 400px;
    text-align: center;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    text-align: center;
}

main {
    background-color: blanchedalmond;
    min-height: 200px;
    overflow: auto;
    text-align: center;
}

header {
    background-color: burlywood box-shadow 0 0 0.5rem rgb(83 78 76 / 50%);
}

footer {
    background: beige;
    margin: 0.5rem;
}

main>div {
    background-color: white;
    float: left;
    height: auto;
    margin: 0.5rem;
    min-height: 180px;
    width: 65%;
}

main>aside {
    float: left;
    margin-block: 25%;
    margin-top: 50px;
    margin: 0.5rem;
    min-height: 180px;
    min-width: 25%;
    width: auto;
}

.secciones {
    margin: 0.5rem;
    min-height: 50px;
    text-align: center;
}

.secciones article {
    margin: 0.5rem;
    min-height: 20px;
}

.header-logo {
    display: inline-block;
    margin: 0.5rem;
    width: auto;
}

.header-menubar {
    display: inline-block;
    left: auto;
    margin: 0.5rem 0 0.5rem 1 rem;
    position: relative;
    top: auto;
    width: auto;
}

#che>h1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fluido 30s ease-in-out infinite;
    background-size: 300%;
    background: linear-gradient(-45deg, #ee7752, #ed7f1f, black, #fa8072);
}

@keyframes fluido {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.header-menubar ul {
    list-style: none;
}

.header-menubar li {
    float: left;
    font-weight: 700;
    padding: 0.5rem;
    text-align: center;
}

#logoloto-ppal {
    width: 20%;
}

#meditación-ppal {
    width: 100%;
}

#mujer-ppal {
    width: 100%;
}

#yoga-ppal {
    width: 100%;
}

#saludo-ppal {
    width: 100%
}

#che .h1 {
    margin: 0.5rem;
    transition: all 300ms ease;
}

#alimentación-ppal {
    width: 100%;
}

#montaña-ppal {
    width: 100%;
    rounded-circle .pie-pagina {
        background-color: #0a141d;
        margin: 0.5rem;
        width: 100%;
    }
    
    div>li {
        list-style: none;
    }

    .pie-pagina .grupo-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid: gap 50px;
        margin: 0.5rem;
        max-width: 1200px;
        padding: 45px 0px;
        width: 100%;
    }

    .pie-pagina .grupo-1 .box figure {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
    .pie-pagina .grupo-1 .box figure img {

        width: 250px;
    }
    .pie-pagina .grupo-1 .box h2 {
        color: #fff font-size 20px;
        margin-bottom: 25px;
    }

    h6 {
        color: white;
    }

    iframe {
        height: auto;
        margin: auto;
        padding: auto;
        width: auto;
    }
}
